<body>
    <div class="row text-center">
        <div class="col lead text-dark bg-light" style="background-color:{{color}}">This is the {{pageTitle}} and {{welcomeMessage}} in the {{currentYear}}.</div>
    </div>
</body>