<div class="container">
    <div class="row text-center">
        <div class="col lead text-light" style="background-color:{{color}}">This is {{pageTitle}} and {{welcomeMessage}} in the {{currentYear}}</div>
    </div>
</div>